@import "tailwindcss";

body {
    @apply bg-slate-100;
}

h1 {
    @apply text-6xl font-black;
}

h2 {
    @apply text-3xl font-light;
}

th, td {
    @apply p-2;
}

.navbar-item {
    @apply p-5;
}
