@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-foreground: var(--color-black);
    --color-background-primary: var(--color-slate-100);
    --color-background-secondary: var(--color-white);
    --color-version: var(--color-sky-600);
    --color-link: var(--color-slate-500);
    --color-warning: var(--color-amber-500);
    --color-confirmation: var(--color-green-600);
}

@layer theme {
    :root, :host {
        @variant dark {
            --color-foreground: var(--color-white);
            --color-background-primary: var(--color-gray-900);
            --color-background-secondary: var(--color-gray-800);
            --color-version: var(--color-sky-400);
            --color-link: var(--color-gray-400);
            --color-warning: var(--color-amber-300);
            --color-confirmation: var(--color-emerald-300);
        }
    }
}

html {
    @apply scroll-smooth;
}

body {
    color: var(--color-foreground);
    background-color: var(--color-background-primary);
}

.page {
    @apply min-h-screen;
}

h1, h2 {
    @apply text-center md:text-left;
}

h1 {
    @apply text-6xl font-black;
}

h2 {
    @apply text-3xl font-light;
}

th, td {
    @apply p-2;
}

.navbar-item {
    @apply block md:inline hover:cursor-pointer p-5;
}
