@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-foreground: var(--color-black);
    --color-background-primary: var(--color-slate-100);
    --color-background-secondary: var(--color-white);
    --color-background-tertiary: var(--color-slate-50);
    --color-version: var(--color-rose-500);
    --color-link: var(--color-slate-500);
    --color-warning: var(--color-amber-500);
    --color-confirmation: var(--color-green-600);
    --color-confirmation-subtle: var(--color-green-100);
    --color-error: var(--color-red-600);
    --color-error-subtle: var(--color-red-100);
}

@layer theme {
    :root, :host {
        @variant dark {
            --color-foreground: var(--color-white);
            --color-background-primary: var(--color-gray-900);
            --color-background-secondary: var(--color-gray-800);
            --color-background-tertiary: color-mix(in oklch, var(--color-gray-800), var(--color-gray-900));
            --color-version: var(--color-pink-500);
            --color-link: var(--color-gray-400);
            --color-warning: var(--color-amber-300);
            --color-confirmation: var(--color-emerald-300);
            --color-confirmation-subtle: var(--color-emerald-950);
            --color-error: var(--color-rose-500);
            --color-error-subtle: var(--color-rose-950);
        }
    }
}

html {
    @apply scroll-smooth;
}

body {
    color: var(--color-foreground);
    background-color: var(--color-background-primary);
}

.page {
    @apply min-h-screen;
}

h1, h2 {
    @apply text-center md:text-left leading-tight;
}

h1 {
    @apply text-4xl md:text-6xl font-black;
}

h2 {
    @apply text-3xl font-light;
}

h3 {
    @apply text-xl leading-tight font-semibold;
}

th, td {
    @apply p-2;
}

.navbar-item {
    @apply block md:inline cursor-pointer text-left p-5;
}

.button {
    @apply p-5 bg-background-secondary rounded text-center;
}

.link {
    @apply text-link underline;
}

.filters {
    @apply flex flex-col md:flex-row gap-3;
}

.input {
    @apply bg-background-primary p-2 rounded;
}

select.input {
    @apply cursor-pointer;
}

.dialog {
    @apply z-300 fixed bottom-0 w-full p-5;
}

.dialog p {
    @apply text-center md:text-left;
}

.button-bar {
    @apply mt-5 md:justify-end gap-2;
}
